
.containers{
    width: 100%;
    height: auto;
    position: relative;
}


.about-top{
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
    /* background: rgba(238, 47, 52, 0.5); */
    padding: 80px 35px;
    border: 1px dashed #ee2f34;
    top: -78px;
   background-image: url(back.png);
}
.about-txt p{
    margin-bottom: 8px;
    color: #666;
    font-size: 20px;
    font-weight: normal;
    line-height: 25px;
}
.bottom{
    justify-content: center;
    padding: 10px;
}
.img-icon{
    width:200px;
    justify-content: center;
    align-items: 50%;
}
@media only screen and (max-width: 600px) {

}