#ourworks{
    margin: 80px;
}
.headblk{
    font-size: 40px;
    font-weight: 500;
    text-transform: capitalize;
    font-family:  'Playball', cursive;
    color: #666;
    justify-content: center;
    text-align: center;
    align-items: center;

}
.inrow{
    padding: 20px;
}
.img-work{
    width: 300px;
    height: 220px;
    padding: 20px;
    justify-content: center;
    
}
.img-work:hover{
    transform: scale(1.1);
}
